<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 映射文件，映射到对应的SQL接口 -->
<mapper namespace="com.ak1ak1.mapper.mapper1.OutStockMapper">
	<select id="getOutStockListByOutstockNo" resultType="outStock">
		select consignee,contact from zk_outstock where outstockno = #{orderCode}
	</select>
</mapper>
